.hero {
  padding: 100px 0 110px 0;
  &__bg {
    &-img {
      position: absolute;
      top: 40%;
      left: 45%;
      width: 60%;
      transform: translateY(-50%);
      opacity: 0.5;
      z-index: -1;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        z-index: -2;
      }
      &:after {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          $black-bg,
          transparent 10%,
          transparent 90%,
          $black-bg
        );
        z-index: 1;
      }
    }
    span {
      &:nth-child(1) {
        top: 0;
        left: 0;
        transform: scale(0.8);
        opacity: 0.2;
      }
      &:nth-child(2) {
        top: 0;
        right: 25%;
        opacity: 0.3;
      }
      &:nth-child(3) {
        bottom: 50%;
        left: calc(50% - 400px);
        opacity: 0.3;
        transform: scale(1.5);
      }
      &:nth-child(4) {
        bottom: 40%;
        left: 50%;
        opacity: 0.3;
        transform: scale(1.2);
      }
      &:nth-child(5) {
        bottom: 40%;
        left: 75%;
        opacity: 0.3;
        transform: scale(0.7);
      }
      &:nth-child(6) {
        bottom: 40%;
        left: 75%;
        opacity: 0.1;
        transform: scale(2);
      }
      &:nth-child(7) {
        bottom: 10%;
        left: 15%;
        opacity: 0.2;
        transform: scale(2);
      }
      &:nth-child(8) {
        top: 40%;
        right: 15%;
        opacity: 0.6;
        transform: scale(2);
      }
    }
  }
  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50vh;

    &-title {
      margin-bottom: 30px;
    }
    &-group {
      width: 60%;

      position: relative;
    }
    &-banner {
      width: calc(40% - 40px);
      max-width: 480px;
    }
    &-list {
      margin-bottom: 50px;
      ul {
        li {
          display: flex;
          align-items: center;
          gap: 15px;
          margin-bottom: 15px;

          //font
          font-family: $font-primary;
          font-style: normal;
          font-weight: 500;
          font-size: 28px;
          line-height: 1.5;

          ._ico {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.3em;
            height: 1.3em;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    &-coins {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      row-gap: 15px;
      width: 100%;
      max-width: 540px;
      font-size: 20px;
      margin-bottom: 70px;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3em;
        width: calc(33.3% - 15px);
        box-sizing: border-box;
        gap: 8px;
        background: $gradient-dark;
        border: 4px solid #1a71b1;
        border-radius: 10.0979px;

        //font
        color: #ffffff;
        font-size: inherit;
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 700;
        line-height: 1;
        animation: moveY 2.6s both infinite alternate-reverse;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: ease-in-out;

        &._arb {
          animation-delay: #{11 * 0.02}s;
          border-color: #1a71b1;
        }
        &._bnb {
          animation-delay: #{22 * 0.02}s;
          border-color: #f0b90b;
        }
        &._eth {
          animation-delay: #{33 * 0.02}s;
          border-color: #7a9bf9;
        }
        &._bitcoin {
          animation-delay: #{44 * 0.02}s;
          border-color: #ec9e28;
        }
        &._blockchain {
          animation-delay: #{55 * 0.02}s;
          border-color: #386af1;
        }
        &._crypto {
          animation-delay: #{66 * 0.02}s;
          border-color: #5843f5;
        }
        &._wallet {
          animation-delay: #{77 * 0.02}s;
          border-color: #e74a80;
        }
        &._nft {
          animation-delay: #{88 * 0.02}s;
          border-color: #a63df2;
        }
        &._polygon {
          animation-delay: #{99 * 0.02}s;
          border-color: #005eb4;
        }
      }
      img {
        width: 2em;
        height: 2em;
      }
    }
    &-buy {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 400px;
      padding-left: 50px;
    }
    &-apps {
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        margin-bottom: 0.5em;
        text-align: center;
      }
      &-links {
        position: relative;
        display: flex;
        gap: 20px;

        button {
          display: flex;
          height: 55px;
          transition: 0.3s ease-in;
          img {
            height: 100%;
            width: auto;
          }
          &._google:hover,
          &._apple:hover {
            opacity: 0.7;
          }
          &._google:hover {
            & ~ .hero__inner-apps-tab._apple {
              display: none;
            }
            & ~ .hero__inner-apps-tab._google {
              opacity: 1;
              transform: scale(1);
              pointer-events: all;
              transition: 0.3s ease-out 0.15s;
              transition-property: opacity, transform;
            }
          }
          &._apple:hover {
            & ~ .hero__inner-apps-tab._google {
              display: none;
            }
            & ~ .hero__inner-apps-tab._apple {
              opacity: 1;
              transform: scale(1);
              pointer-events: all;
              transition: 0.3s ease-out 0.15s;
              transition-property: opacity, transform;
            }
          }
        }
      }
      &-tab {
        display: block;
        position: absolute;
        left: 0;
        bottom: calc(100% + 10px);
        width: 100%;
        background: $gradient-secondary;
        padding: 0.9em 1.3em;
        border: 1px solid rgba($color-2, 0.14);
        border-radius: 1em;
        box-sizing: border-box;
        box-shadow: 0 10px 15px 5px rgba($black, 0.3);
        z-index: 2;
        opacity: 0;
        transform: scale(0);
        transition: opacity 0.5s ease-out, transform 1.5s ease-out;
        transition-delay: 1s;

        //font
        color: $white-1;
        font-size: 16px;
        font-weight: 400;
        font-family: $font-secondary;
        line-height: 1.2;

        &:hover {
          opacity: 1;
          transform: scale(1);
          pointer-events: all;
          transition: 0.3s ease-out 0.15s;
          transition-property: opacity, transform;
        }
        a {
          font-weight: 500;
          @include textGradient($gradient-eth);
        }
      }
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 50px;

    .scrollingWords {
      margin-left: 50px;
      width: 100%;
      max-width: 400px;
      display: flex;
      justify-content: center;

      ul {
        margin: 0 0.5em 0 0;
      }
    }
    &-tag {
      display: flex;
      align-items: center;
      background: $gradient-dark;
      opacity: 0.8;
      box-shadow: 0px 2.3px 17px #9642c5;
      border-radius: 20px;
      padding: 4px;
      transition: 0.2s ease;
      width: calc(40% - 80px);
      max-width: 480px;
      box-sizing: border-box;
      margin-right: 20px;

      span {
        background: $black-main;
        opacity: 0.8;
        box-shadow: 0px 2.24773px 2.24773px rgba(143, 143, 143, 0.2);
        border-radius: 14.131px;
        padding: 0.8em 1em;
        opacity: 0.7;

        //font
        color: #ffffff;
        font-family: $font-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 9px;
        line-height: 1;
        text-transform: uppercase;
        text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
      }
      small {
        opacity: 0.7;
        //font
        color: #ffffff;
        font-family: $font-primary;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 1;
        text-shadow: 0px 0px 5.90608px rgba(0, 0, 0, 0.5);
      }
      .copyBox__text {
        margin: 0 auto;
        font-size: 11px;
        img {
          margin-left: 1em;
        }
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  &__banner {
    position: relative;
    width: 100%;
    padding-bottom: 80%;
    z-index: 0;

    img {
      position: absolute;
    }

    &-bottom {
      width: 80%;
      left: 10%;
      bottom: 0;
      z-index: -2;
      animation: moveShortY 20s both infinite alternate;
      animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    &-arb {
      width: 14%;
      left: 12%;
      top: 10%;
      animation: moveY 6s both infinite alternate;
      animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation-delay: 010ms;
    }
    &-asset-58 {
      width: 12%;
      left: 10%;
      top: 30%;
      animation: moveY 6s both infinite alternate;
      animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation-delay: 030ms;
    }
    &-asset-59 {
      width: 12%;
      right: 4%;
      bottom: 34%;
      z-index: 1;
      animation: moveY 6s both infinite alternate;
      animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation-delay: 050ms;
    }
    &-bitcoin {
      width: 18%;
      right: 22%;
      bottom: 40%;
      animation: moveY 6s both infinite alternate;
      animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation-delay: 070ms;
    }
    &-block-chain {
      width: 17%;
      right: 14%;
      top: 15%;
      animation: moveY 6s both infinite alternate;
      animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation-delay: 090ms;
    }
    &-bnb {
      width: 15%;
      left: 26%;
      top: 28%;
      animation: moveY 6s both infinite alternate;
      animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation-delay: 110ms;
    }
    &-cloud {
      width: 68%;
      left: 26%;
      top: 0;
      z-index: -1;
      animation: moveShortY 20s both infinite alternate;
      animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation-delay: 1s;
    }
    &-crypto {
      width: 14%;
      right: 8%;
      bottom: 29%;
      animation: moveY 6s both infinite alternate;
      animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation-delay: 130ms;
    }
    &-eth {
      width: 15%;
      left: 13%;
      top: 32%;
      animation: moveY 6s both infinite alternate;
      animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation-delay: 150ms;
    }
    &-nft {
      width: 14%;
      right: 25%;
      bottom: 20%;
      animation: moveY 6s both infinite alternate;
      animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation-delay: 170ms;
    }
    &-polygon {
      width: 17%;
      right: 0;
      top: 7%;
      animation: moveY 6s both infinite alternate;
      animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation-delay: 190ms;
    }
    &-wallet {
      width: 13.5%;
      right: 0;
      top: 41%;
      animation: moveY 6s both infinite alternate;
      animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation-delay: 210ms;
    }
  }
}
.integrations {
  position: relative;
  &__bg {
    span {
      &:nth-child(1) {
        top: 0;
        right: 20%;
        opacity: 0.7;
      }
      &:nth-child(2) {
        top: 40%;
        right: 40%;
        opacity: 0.6;
      }
    }
  }
  &__inner {
    position: relative;
    padding: 70px 0;

    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 50%;
      width: 80%;
      height: 1px;
      background: $white;
      opacity: 0.6;
      transform: translateX(-50%);
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
    h3 {
      text-align: center;
      margin-bottom: 60px;
    }
    &-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: -12px;
    }
    &-footer {
      margin-top: 60px;

      .textLink {
        display: flex;
        align-items: center;
        margin: 0 auto;

        //font
        color: $white;
        font-family: $font-primary;
        font-weight: 700;
        font-size: 36px;
        text-shadow: 24px 23px 7px rgba($black, 0.25);

        .cutIco {
          margin-left: 0.4em;
        }
      }
    }
  }
  &__item {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(25% - 24px);
    margin: 12px;
    padding: 30px 15px 25px 15px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid $main;
    border-radius: 18px;
    text-align: center;
    transition: 0.2s ease-in 0.1s;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      border-radius: inherit;
      background: $gradient-eth;
      opacity: 0;
      z-index: -1;
      transition: 0.2s ease-in 0.1s;
    }

    img {
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
    strong {
      margin-top: 1.5em;

      //font
      color: #ffffff;
      font-family: $font-primary;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.3;
    }
    &:hover {
      background-color: transparent;
      &:after {
        opacity: 1;
      }
    }
  }
}
.videoSection {
  &__inner {
    position: relative;
    padding: 70px 0 60px 0;

    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 50%;
      width: 80%;
      height: 1px;
      background: $white;
      opacity: 0.6;
      transform: translateX(-50%);
      bottom: 0;
    }

    h3 {
      text-align: center;
      margin-bottom: 1.25em;
    }
    &-frame {
      width: 90%;
      max-width: 1245px;
      margin: 0 auto;
    }
  }
}
.dominators {
  position: relative;
  &__bg {
    span {
      &:nth-child(1) {
        bottom: 40%;
        right: 30%;
        opacity: 0.3;
        transform: scale(3);
      }
      &:nth-child(2) {
        bottom: 40%;
        right: 30%;
        opacity: 0.5;
      }
    }
  }
  &__inner {
    position: relative;
    padding: 70px 0;

    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 50%;
      bottom: 0;
      width: 80%;
      height: 1px;
      background: $white;
      opacity: 0.6;
      transform: translateX(-50%);
    }

    &-header {
      text-align: center;
      max-width: 900px;
      margin: 0 auto 70px auto;
      h3 {
        text-align: inherit;
        margin-bottom: 0.5em;
      }
      p {
        color: $white;
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 1.2;
      }
    }
    &-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
  &__item {
    position: relative;
    width: calc(25% - 30px);
    margin: 15px;
    border: 4px solid transparent;
    box-sizing: border-box;
    transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &-img {
      position: relative;
      padding-bottom: 120%;
      overflow: hidden;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        object-position: bottom;
      }
    }

    &-info {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 20px;
      z-index: 0;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      //font
      color: $white;
      font-family: $font-primary;
      font-size: 16px;
      text-shadow: 24px 23px 7px rgba($black, 0.25);

      strong {
        transform: translateY(100px);
        opacity: 0;
        pointer-events: none;
        transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
      }
      & > span {
        transform: translateY(100px);
        opacity: 0;
        pointer-events: none;
        transition: 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
      }
      .button {
        margin-top: 10px;
        min-width: 80%;
        transform: translateY(100px);
        opacity: 0;
        transition: 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
      }

      &:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          transparent 25%,
          rgba($black, 0.5) 70%,
          rgba($black, 0.9) 100%
        );
        transform: translateY(20%);
        transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
        opacity: 0;
        z-index: -1;
      }
    }
    &--home {
      &::before {
        display: none;
      }
    }
    &:hover {
      border-color: $main;
      .dominators__item {
        &-info {
          strong {
            opacity: 1;
            transform: translate(0);
          }
          span {
            opacity: 1;
            transform: translate(0);
          }
          .button {
            opacity: 1;
            transform: translate(0);
            pointer-events: all;
          }
          &:after {
            transform: translateY(0);
            opacity: 1;
          }
        }
        &-img {
          img {
            transform: translate(-50%, -50%) scale(1.03);
            transition: 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
          }
        }
      }
    }
  }
}
.advantages {
  position: relative;

  &__bg {
    span {
      &:nth-child(1) {
        top: 30%;
        left: 20%;
        opacity: 0.4;
        transform: scale(1.2);
      }
      &:nth-child(2) {
        bottom: 30%;
        right: 10%;
        opacity: 0.5;
        transform: scale(1.5);
      }
    }
    &-img {
      position: absolute;
      bottom: 0%;
      right: 20%;
      width: 60%;
      transform: translate(50%, 20%);
      opacity: 0.6;
      z-index: -1;

      img {
        width: 100%;
        height: auto;
        z-index: -2;
      }
    }
  }
  &__inner {
    position: relative;
    padding: 70px 0;

    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 50%;
      width: 80%;
      height: 1px;
      background: $white;
      opacity: 0.6;
      transform: translateX(-50%);
      bottom: 0;
    }
    h3 {
      text-align: center;
      margin-bottom: 70px;
    }
    &-row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0;
      margin: -15px;
    }
    &-footer {
      display: flex;
      justify-content: space-between;
      max-width: 680px;
      margin: 0 auto;
      margin-top: 60px;

      .textLink {
        display: flex;
        align-items: center;
        margin: 0 auto;

        //font
        color: $white;
        font-family: $font-primary;
        font-weight: 700;
        font-size: 36px;
        text-shadow: 24px 23px 7px rgba($black, 0.25);

        .cutIco {
          margin-left: 0.4em;
        }
      }
      .input {
        width: calc(100% - 210px);
        input {
          border-radius: 8px;
        }
      }
      .button {
        width: 190px;
      }
    }
  }
  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    width: calc(33.3% - 30px);
    max-width: 350px;
    background: rgba($white, 0.02);
    border-radius: 18px;
    border: 1px solid $main;
    min-height: 385px;
    box-sizing: border-box;
    padding: 30px;

    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background: $black-2;
      margin-bottom: 35px;
      overflow: hidden;

      img {
        width: 35px;
        height: 35px;
      }
    }
    strong {
      color: $white-1;
      font-family: $font-primary;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 15px;
      text-align: center;
    }
    p {
      color: $gray-2;
      text-align: center;
    }
  }
}
.team {
  position: relative;
  &__bg {
    &-img {
      position: absolute;
      bottom: 0;
      left: 55%;
      width: 60%;
      transform: translateY(-10%);
      opacity: 0.2;
      z-index: -1;
      img {
        width: 100%;
        height: auto;
        z-index: -2;
      }
    }
    span {
      &:nth-child(1) {
        top: 0;
        left: 0;
        transform: scale(0.8);
        opacity: 0.6;
      }
      &:nth-child(2) {
        top: 80%;
        left: 90%;
        transform: scale(1.6);
        opacity: 0.15;
      }
    }
  }
  &__inner {
    position: relative;
    padding: 70px 0;

    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 50%;
      bottom: 0;
      width: 80%;
      height: 1px;
      background: $white;
      opacity: 0.6;
      transform: translateX(-50%);
    }
    h3 {
      text-align: center;
      margin-bottom: 60px;
    }
    &-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    width: calc(25% - 30px);
    max-width: 280px;
    min-height: 340px;
    box-sizing: border-box;
    padding: 20px 25px;
    background: rgba($black-main-1, 0.6);
    border: 1px solid #545454;
    box-shadow: 0px 4px 22px rgba(91, 195, 251, 0.4);
    border-radius: 15px;

    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 35px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
    strong {
      color: $white-1;
      font-family: $font-secondary;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 15px;
      text-align: center;
    }
    p {
      color: $white;
      font-size: 18px;
      text-align: center;
      font-family: $font-secondary;
      font-style: normal;
    }
  }
}
.roadMap {
  position: relative;

  &__bg {
    span {
      &:nth-child(1) {
        top: 100%;
        left: 90%;
        opacity: 0.6;
      }
      &:nth-child(2) {
        top: 100%;
        left: 95%;
        opacity: 0.2;
        transform: scale(3);
      }
    }
    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;

      &:after {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          $black-bg,
          transparent 10%,
          transparent 90%,
          $black-bg
        );
        z-index: 1;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__inner {
    position: relative;
    padding: 70px 0;

    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 50%;
      bottom: 0;
      width: 80%;
      height: 1px;
      background: $white;
      opacity: 0.6;
      transform: translateX(-50%);
    }

    h3 {
      text-align: center;
      margin-bottom: 100px;
    }
    &-row {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding-top: 80px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        left: 50%;
        top: 114px;
        width: calc(100% - 40px);
        height: 4px;
        transform: translate(-50%, -50%);
        background: $gradient-primary;
      }
    }
  }
  &__item {
    &-header {
      position: relative;
      font-size: 25px;
      margin-bottom: 1em;
      display: flex;
      align-items: center;
      height: 65px;

      &-title {
        position: absolute;
        bottom: calc(100% + 15px);
        left: 50%;
        transform: translateX(-50%);

        //font
        color: $white;
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 700;
        font-size: inherit;
        line-height: 1.3;
        text-align: center;
      }
      &-dot {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 2.4em;

        img {
          height: 100%;
          width: auto;
        }
      }
    }
    &-list {
      max-width: 300px;
      li {
        display: flex;
        align-items: center;
        padding: 5px;
        position: relative;
        min-height: 3em;

        //font
        color: $white;
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.3;

        img {
          margin-right: 0.5em;
          width: 1.2em;
          height: 1.2em;
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: calc(100% - 3px);
          left: 50%;
          width: 90%;
          height: 2px;
          transform: translateX(-60%);
          background: linear-gradient(
            90deg,
            transparent 10%,
            rgba($white, 0.6) 50%,
            transparent 90%
          );
        }
      }
    }
  }
}
.highlights {
  position: relative;
  &__bg {
    &:after {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        $black-bg,
        transparent 10%,
        transparent 90%,
        $black-bg
      );
      z-index: -1;
    }
    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -2;
      img {
        @include fullImage;
      }
    }
    .glow {
      &:nth-child(1) {
        position: absolute;
        top: 20%;
        right: 10%;
        opacity: 0.6;
      }
      &:nth-child(2) {
        position: absolute;
        bottom: 20%;
        left: 10%;
        opacity: 0.6;
      }
    }
  }
  &__inner {
    position: relative;
    padding: 70px 0;

    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 50%;
      bottom: 0;
      width: 80%;
      height: 1px;
      background: $white;
      opacity: 0.6;
      transform: translateX(-50%);
    }

    h3 {
      text-align: center;
      margin-bottom: 100px;
    }
    &-row {
      display: flex;
      justify-content: space-between;
    }
    &-column {
      width: 40%;
      max-width: 410px;
    }
  }
  &__item {
    display: flex;
    align-items: center;

    //font
    color: rgba($white, 0.9);
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.1;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
    &-ico {
      display: flex;
      width: 1.8em;
      height: 1.8em;
      margin-right: 0.7em;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
.tokenomics {
  position: relative;

  &__bg {
    span {
      &:nth-child(1) {
        top: 20%;
        left: 10%;
        opacity: 0.6;
      }
      &:nth-child(2) {
        top: 50%;
        right: 50%;
        opacity: 0.4;
        transform: scale(1.7);
      }
      &:nth-child(3) {
        bottom: 100%;
        left: 90%;
        opacity: 0.3;
        transform: scale(1.7);
      }
    }
    &-img {
      position: absolute;
      top: 0%;
      right: 0%;
      width: 60%;
      transform: translate(40%, -10%);
      opacity: 0.7;
      z-index: -1;

      img {
        width: 100%;
        height: auto;
        z-index: -2;
      }
    }
  }
  &__inner {
    position: relative;
    padding: 70px 0;

    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 50%;
      bottom: 0;
      width: 80%;
      height: 1px;
      background: $white;
      opacity: 0.6;
      transform: translateX(-50%);
    }

    h3 {
      text-align: center;
      margin-bottom: 100px;
    }
    &-img {
      position: absolute;
      top: 50%;
      right: 0;
      width: calc(100% - 600px - 60px);
      max-width: 500px;
      transform: translateY(-50%);
      pointer-events: none;

      ul {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
      }
      li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        animation: 14s rotate cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
        animation-fill-mode: both;

        img {
          @include fullImage;
        }

        &:nth-child(2) {
          animation-delay: 1.3s;
        }
        &:nth-child(3) {
          animation-delay: 2.5s;
        }
        &:nth-child(4) {
          animation-delay: 3.9s;
        }
        &:nth-child(5) {
          animation-delay: 4.12s;
        }
      }
    }
    &-content {
      width: 600px;
      margin-right: auto;

      h4 {
        margin-bottom: 10px;
      }
      ul {
        margin-top: 30px;

        li {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          //font
          color: $white-1;
          font-family: $font-secondary;
          font-style: normal;
          font-weight: 500;
          font-size: 28px;
          line-height: 1;

          &:last-child {
            margin: 0;
          }

          span {
            position: relative;
            font-size: inherit;
            margin-right: 0.5em;
            img {
              width: 2.6em;
              height: 2.6em;
              object-fit: contain;
            }
            small {
              font-size: 0.7em;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }
}
.partners {
  &__inner {
    position: relative;
    padding: 80px 0;

    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 50%;
      bottom: 0;
      width: 80%;
      height: 1px;
      background: $white;
      opacity: 0.6;
      transform: translateX(-50%);
    }

    h3 {
      text-align: center;
      margin-bottom: 70px;
    }
    &-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 50px 20px;
    }
    &-item {
      transition: 1.3s ease-out 0.3s;

      &._smallerIcon {
        img {
          max-width: 250px;
        }
      }
      img {
        height: 70px;
        max-width: 300px;
        object-fit: contain;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.platforms {
  &__inner {
    position: relative;
    padding: 90px 0;

    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 50%;
      bottom: 0;
      width: 80%;
      height: 1px;
      background: $white;
      opacity: 0.6;
      transform: translateX(-50%);
    }

    h3 {
      text-align: center;
      margin-bottom: 70px;
    }
    &-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px 20px;
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90px;
      width: 325px;
      transition: 0.3s ease-out 0.3s;
      box-sizing: border-box;
      border-radius: 5px;
      background: $white;
      box-shadow: 0px 3px 18px rgba(255, 255, 255, 0.29);

      img {
        height: 70px;
        max-width: 280px;
        object-fit: contain;
      }

      &:hover {
        box-shadow: 0px 3px 38px rgba(255, 255, 255, 0.59);
      }
    }
  }
}

@mixin home-1400 {
  .hero {
    &__inner {
      &-list {
        ul {
          li {
            font-size: 24px;
            gap: 10px;
          }
        }
      }
      &-coins {
        span {
          font-size: 22px;
        }
      }
    }
  }
  .integrations {
    &__item {
      strong {
        font-size: 18px;
      }
    }
  }
  .team {
    &__inner {
      &-row {
        margin: 0 -10px;
      }
    }
    &__item {
      padding: 20px 15px;
      margin: 10px;
      width: calc(25% - 20px);

      p {
        font-size: 16px;
      }
    }
  }
  .roadMap {
    &__inner {
      h3 {
        margin-bottom: 60px;
      }
    }
    &__item {
      &-header {
        font-size: 20px;
      }
      &-list {
        li {
          font-size: 14px;
        }
      }
    }
  }
  .tokenomics {
    &__inner {
      &-content {
        ul {
          li {
            font-size: 24px;
          }
        }
      }
    }
  }
}
@mixin home-1180 {
  .hero {
    &__inner {
      &-list {
        ul {
          li {
            font-size: 20px;
            gap: 10px;
          }
        }
      }
      &-coins {
        span {
          font-size: 18px;
          width: calc(33.3% - 10px);
        }
      }
      &-banner {
        width: 53%;
        right: -2%;
        transform: translateY(40%);
      }
      &-group {
        padding-right: 55%;
      }
    }
    &__footer {
      flex-wrap: wrap;
      .scrollingWords {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        order: -1;
      }

      &-buy {
        width: 100%;
        max-width: 400px;
      }
    }
  }
  .integrations {
    &__item {
      padding: 30px 10px;

      strong {
        font-size: 16px;
      }
    }
  }
  .dominators {
    &__inner {
      &-header {
        p {
          br {
            display: none;
          }
        }
      }
      &-row {
        margin: -10px;
      }
    }
    &__item {
      margin: 10px;
      width: calc(25% - 20px);
    }
  }
  .advantages {
    &__inner {
      &-row {
        column-gap: unset;
        margin: -10px;
      }
    }
    &__item {
      margin: 10px;
      width: calc(33.3% - 20px);
      max-width: unset;
      p {
        font-size: 16px;
      }
    }
  }
  .team {
    &__item {
      p {
        font-size: 14px;
      }
    }
  }
  .roadMap {
    &__inner {
      &-row {
        flex-wrap: wrap;
        padding: 100px 0;
        row-gap: 200px;
        &:before {
          top: 0;
          transform: translateX(-50%);
          width: 4px;
          height: 100%;
        }
      }
    }
    &__item {
      position: relative;
      width: 50%;
      box-sizing: border-box;

      &-header {
        position: absolute;
        font-size: 20px;
      }
      &-list {
        li {
          font-size: 14px;
        }
      }
      &:nth-child(odd) {
        padding-right: 20%;
        margin-top: -100px;
        .roadMap__item-header {
          top: 0;
          right: 0;
          transform: translateX(50%);

          &-title {
            top: 50%;
            left: unset;
            bottom: unset;
            right: 100%;
            transform: translate(-50%, -50%);
          }
        }
      }
      &:nth-child(even) {
        padding-left: 20%;
        margin-bottom: -100px;
        .roadMap__item-header {
          top: 20%;
          left: 0;
          transform: translateX(-50%);

          &-title {
            top: 50%;
            left: 100%;
            bottom: unset;
            transform: translate(50%, -50%);
          }
        }
      }
    }
  }
  .tokenomics {
    &__inner {
      &-content {
        width: 400px;

        ul {
          li {
            font-size: 20px;
          }
        }
      }
      &-img {
        width: calc(100% - 400px - 40px);
      }
    }
  }
}
@mixin home-940 {
  .hero {
    &__inner {
      max-width: 550px;
      margin: 0 auto;
      &-title {
        text-align: center;
        margin-bottom: 40px;
      }
      &-banner {
        position: unset;
        transform: unset;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;
      }
      &-group {
        padding: unset;
        width: 100%;
        max-width: unset;
      }
    }
    &__footer {
      flex-direction: column-reverse;
      gap: 30px;
      .scrollingWords {
        order: 1;
      }
    }
    .hero {
      &__footer {
        &-buy {
          .button {
            height: 50px;
          }
        }
      }
    }
  }
  .integrations {
    &__item {
      width: calc(33.3% - 24px);
    }
  }
  .dominators {
    &__inner {
      &-header {
        p {
          font-size: 18px;
        }
      }
      &-row {
        margin: -10px;
        justify-content: space-evenly;
      }
    }
    &__item {
      margin: 10px;
      width: calc(33.3% - 20px);
    }
  }
  .advantages {
    &__item {
      padding: 20px 10px;
      min-height: 300px;
      strong {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .team {
    &__inner {
      &-row {
        justify-content: space-evenly;
        margin: 0;
        gap: 30px;
      }
    }
    &__item {
      width: calc(50% - 30px);
      max-width: 340px;
      margin: 0;
      p {
        font-size: 14px;
      }
    }
  }
  .highlights {
    &__bg {
      &-img {
        opacity: 0.2;
      }
    }
    &__inner {
      h3 {
        margin-bottom: 40px;
      }
      &-row {
        flex-direction: column;
      }
      &-column {
        width: 100%;
        max-width: unset;
      }
    }
    &__item {
      font-size: 18px;
    }
  }
  .tokenomics {
    &__inner {
      flex-direction: column;

      &-content {
        text-align: center;
        max-width: unset;
        width: 100%;

        ul {
          li {
            font-size: 18px;
          }
        }
      }
      &-img {
        position: unset;
        width: 90%;
        max-width: 450px;
        margin: 0 auto 30px auto;
        transform: unset;
      }
    }
  }
}
@mixin home-740 {
  .integrations {
    &__item {
      img {
        width: 60px;
        height: 60px;
      }
      strong {
        font-size: 14px;
      }
    }
    &__inner {
      &-footer {
        .textLink {
          font-size: 30px;
        }
      }
    }
  }
  .advantages {
    &__inner {
      &-row {
        justify-content: space-evenly;
      }
    }
    &__item {
      width: calc(50% - 20px);
      max-width: 300px;
    }
  }
  .roadMap {
    &__inner {
      h3 {
        margin-bottom: 50px;
      }
      &-row {
        padding: 0;
        row-gap: 40px;
        &:before {
          left: 20px;
          transform: unset;
        }
      }
    }
    &__item {
      position: relative;
      width: 100%;
      box-sizing: border-box;
      &-header {
        position: unset;
        font-size: 18px;
        height: unset;

        &-title {
          position: unset;
          transform: unset;
          text-align: center;
          width: 100%;
          max-width: 450px;
        }
        &-dot {
          position: absolute;
          left: 0;
          width: unset;
        }
      }

      &:nth-child(n) {
        padding: 0 60px 0 100px;
        margin: 0;

        .roadMap__item-header {
          transform: unset;
          &-title {
            transform: unset;
          }
        }
      }
      &-list {
        li {
          &::after {
            width: 100%;
            max-width: unset;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  .partners {
    &__inner {
      &-row {
        gap: 20px;
      }
      &-item {
        width: calc(50% - 10px);
        img {
          width: 80%;
          height: 70px;
        }
      }
    }
  }
  .dominators {
    &__inner {
      &-header {
        p {
          font-size: 16px;
        }
      }
    }
  }
}
@mixin home-540 {
  .hero {
    padding: 50px 0;
    &__inner {
      &-list {
        ul li {
          font-size: 18px;
        }
      }
      &-coins {
        span {
          font-size: 16px;
          height: 4em;
          border-width: 3px;
          width: calc(33.3% - 8px);
        }
      }
    }
  }
  .integrations {
    &__inner {
      padding: 50px 0;

      h3 {
        margin-bottom: 40px;
      }
      &-row {
        justify-content: space-evenly;
        margin: 0;
        gap: 20px;
      }
      &-footer {
        .textLink {
          font-size: 26px;
          margin-top: 40px;
        }
      }
    }
    &__item {
      padding: 20px;
      width: calc(50% - 10px);
      max-width: 200px;
      margin: 0;
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
  .dominators {
    &__inner {
      padding: 50px 0;
      &-header {
        p {
          font-size: 14px;
          font-weight: 400;
        }
      }
      &-row {
        gap: 20px 0px;
        margin: 0;
      }
    }
    &__item {
      margin: 0;
      width: calc(50% - 10px);
      max-width: 200px;
    }
  }
  .advantages {
    &__inner {
      padding: 50px 0;

      h3 {
        margin-bottom: 40px;
      }
      &-row {
        margin: 0;
        gap: 20px;
      }
      &-footer {
        flex-direction: column;
        max-width: 400px;
        margin: 30px auto 0 auto;
        .input {
          margin-bottom: 8px;
          width: 100%;
        }
        .button {
          width: 100%;
        }
      }
    }
    &__item {
      // &-img {
      //   width: 50px;
      //   height: 50px;
      //   img {
      //     width: 45%;
      //     height: 45%;
      //   }
      // }
      margin: 0;
      width: 100%;
    }
  }
  .tokenomics {
    &__inner {
      padding: 50px 0;

      &-content {
        ul {
          li {
            font-size: 16px;
          }
        }
      }
    }
  }
  .roadMap {
    &__inner {
      padding: 50px 0;
    }
    &__item {
      &:nth-child(n) {
        padding: 0 35px 0 65px;
        .roadMap__item-header {
          transform: unset;
          &-title {
            transform: unset;
          }
        }
      }
    }
  }
  .videoSection {
    &__inner {
      padding: 50px 0;
    }
  }
  .highlights {
    &__inner {
      padding: 50px 0;
    }
  }
  .platforms {
    &__inner {
      padding: 50px 0;
      h3 {
        margin-bottom: 40px;
      }
    }
  }
  .partners {
    &__inner {
      padding: 50px 0;
      h3 {
        margin-bottom: 40px;
      }
    }
  }
  .team {
    &__inner {
      padding: 50px 0;
      h3 {
        margin-bottom: 40px;
      }
    }

    &__item {
      width: 100%;
      max-width: 350px;
      min-height: 360px;
      padding: 30px;
    }
  }
}

@mixin home-480 {
  .hero {
    padding: 50px 0;
    &__inner {
      &-list {
        ul li {
          font-size: 16px;
        }
      }
    }
  }
}
